* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #d9dbdf;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.main-box {
  display: flex;
  margin: auto;
  border-radius: 10px;
  background-color: #ffffff;
  width: 70%;
  margin-top: 80px;
  height: 700px;
}

h1 {
  font-size: 4rem;
  margin-top: 3rem;
  text-align: center;
  color: white;
}

form {
  align-content: center;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  margin-top: 150px;
}

input {
  margin-bottom: 2rem;
  padding: 0.5rem 0.5rem;
  font-size: 1.6rem;
  border: none;
  border-radius: 0.2rem;
  outline: none;
}

button {
  font-size: 1.2rem;
  height: 3rem;
  padding: 0.5rem 0.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: none;
  border-radius: 0.2rem;
  outline: none;
  background-color: #1d2350;
  color: #ffffff;
}

button:hover {
  cursor: pointer;
}

input::placeholder {
  font-size: 1.2rem;
  margin: auto;
}

.main-image {
  flex: 1;
  margin-top: 160px;
  margin-bottom: 80px;
  justify-content: center;
  align-items: center;
}

.main-content {
  flex: 1;
  /* border: 1px solid black; */
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #3a4599;
}

img {
  width: 300px;
  margin-left: 8rem;
  margin-bottom: 0;
}

h2 {
  text-align: center;
  margin-top: 0;
  text-transform: uppercase;
  font-size: 1.8rem;
  color: #3a4599;
}
